<!DOCTYPE html>
<html lang="en">
<head>
	<title>TJTinder | FAQ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FF765A">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="manifest.json">

    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" integrity="sha256-xbQIJkhfOw0Dry1H9lawvXRi9XcqdE8jDBZx1Op/mz8=" crossorigin="anonymous">
    <link rel="stylesheet" href="/faq.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="swregistration.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</head>

<body>
    <ul id="navbar-dropdown" class="dropdown-content">
        <li><a href="/terms">Terms and Conditions</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper deep-orange lighten-1">
            <a href="/" class="brand-logo"><img class="left" src="/headerLogoWhite.png">TJTinder</a>
            <a class="dropdown-button right" href="#!" data-activates="navbar-dropdown"><i class="material-icons">arrow_drop_down</i></a>
        </div>
    </nav>

    <div class="main container">
        <h1 class="center">FAQ</h1>

        <div class="section">
            <h5>DISCLAIMER</h5>
            <p>Privacy and sensitivity are our top priorities, so the only user data accessed through Ion and stored is user IDs and names. The only data visible when picking likes is the student’s name. Contact us with any concerns. TJTinder is not affiliated with neither Tinder nor TJ, and is intended solely to facilitate friendships throughout the community.</p>
        </div>
        <div class="section">
            <h5>How does this work?</h5>
            <p>Log in through Ion with your Ion username and password. Other TJ students will be randomly presented on cards, which you can like or pass on. In around one week (Sunday, May 21 8:59 PM), you can view your matches on TJTinder. Matches are mutual, meaning you both liked each other.</p>
        </div>

        <div class="section">
            <h5>What does it mean to like someone on TJTinder?</h5>
            <p>It can mean whatever you want it to mean! It could be a crush, a friend, or a random stranger you would like to meet.</p>
        </div>

        <div class="section">
            <h5>If I like someone, can they see that I liked them?</h5>
            <p>No. They can only see that you liked them at the end of the week if they had also liked you back, when matches are available to you.</p>
        </div>

        <div class="section">
            <h5>Is logging in through Ion safe?</h5>
            <p>We do not see or store your Ion credentials. TJTinder is an app built on the Ion platform. You log in through Ion with OAuth2 authentication.</p>
        </div>

        <div class="section">
            <h5>Privacy is important. What data do you store?</h5>
            <p>The only data stored is a list of user IDs and the associated like and match data, also with user IDs. No other personally identifiable information is stored.</p>
        </div>

        <div class="section">
            <h5>Is TJTinder affiliated with Tinder or TJ?</h5>
            <p>TJTinder is in no way affiliated with neither Tinder nor TJ. Just a memorable name.</p>
        </div>
    </div>
</body>
</html>
