<!DOCTYPE html>
<html lang="en">
<head>
    <title>TJTinder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FF765A">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="manifest.json">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" integrity="sha256-xbQIJkhfOw0Dry1H9lawvXRi9XcqdE8jDBZx1Op/mz8=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/login.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="swregistration.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</head>

<body>
<nav>
    <div class="nav-wrapper deep-orange lighten-1">
        <a href="#" class="brand-logo"><img class="left" src="/tjtinder-icon144.png">TJTinder</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Terms and Conditions</a></li>
        </ul>
    </div>
</nav>

<div id="login-div" class="container center">
    <div class="row">
        <a href="<%= login_url %>">
            <button class="btn waves-effect waves-light deep-orange lighten-1">Login with Ion<i class="material-icons right">send</i></button>
        </a>
    </div>
    <div class="row">
        <a href="/faq">Learn more</a>
    </div>
</div>
</body>
</html>
