<!DOCTYPE html>
<html lang="en">
<head>
    <title>TJTinder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FF765A">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="/manifest.json">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" integrity="sha256-xbQIJkhfOw0Dry1H9lawvXRi9XcqdE8jDBZx1Op/mz8=" crossorigin="anonymous">
    <link rel="stylesheet" href="/matches.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/swregistration.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js" integrity="sha256-lVmbGVbzHBkNHCUK0y+z2AyJei/v7jSNYppXTcq2FtU=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $(".button-collapse").sideNav();
        });
    </script>
</head>

<body>
    <nav>
        <div class="nav-wrapper deep-orange lighten-1">
            <a href="/" class="brand-logo"><img class="left" src="/headerLogoWhite.png">TJTinder</a>
            <a href="#" data-activates="mobile-side-nav" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/terms">Terms and Conditions</a></li>
            </ul>
            <ul id="mobile-side-nav" class="side-nav">
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/terms">Terms and Conditions</a></li>
            </ul>
        </div>
    </nav>

    <div class="container center main">
        <h3>Matches</h3>
        <% if (is_admin) { %>
            <div id="matches" class="collection">
                <% if (otherLikes && likes) { %>
                <% Object.keys(likes).forEach(function(item) { %>
                <% if (otherLikes[item]) { %>
                <a href="https://ion.tjhsst.edu/profile/<%= item %>" target="_blank" class="collection-item"><%= item %></a>
                <% } %>
                <% }); %>
                <% } %>
            </div>
            <h3>Likes</h3>
            <div id="likes" class="collection">
                <% if (likes) { %>
                <% Object.keys(likes).forEach(function(item) { %>
                <a href="https://ion.tjhsst.edu/profile/<%= item %>" target="_blank" class="collection-item"><%= item %></a>
                <% }); %>
                <% } else { %>
                <span class="collection-item">You have not liked anyone yet.</span>
                <% } %>
            </div>
        <% } else { %>
        Matches will be revealed on Sunday!
        <% } %>
    </div>
</body>
</html>
