<!DOCTYPE html>
<html lang="en">
<head>
    <title>TJTinder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FF765A">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="/manifest.json">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" integrity="sha256-xbQIJkhfOw0Dry1H9lawvXRi9XcqdE8jDBZx1Op/mz8=" crossorigin="anonymous">
    <link rel="stylesheet" href="/matches.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/require.js"></script>
    <script src="/swregistration.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js" integrity="sha256-lVmbGVbzHBkNHCUK0y+z2AyJei/v7jSNYppXTcq2FtU=" crossorigin="anonymous"></script>
</head>

<body>
    <ul id="navbar-dropdown" class="dropdown-content">
        <li><a href="/faq">FAQ</a></li>
        <li><a href="#">Terms and Conditions</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper deep-orange lighten-1">
            <a href="/" class="brand-logo"><img class="left" src="/tjtinder-icon144.png">TJTinder</a>
            <a class="dropdown-button right" href="#!" data-activates="navbar-dropdown"><i class="material-icons">arrow_drop_down</i></a>
        </div>
    </nav>

    <div class="container center main">
        <h1>Matches</h1>
        <div id="matches" class="collection">
            <a href="#" class="collection-item">Bob</a>
        </div>
    </div>
</body>
</html>
