<!DOCTYPE html>
<html lang="en">
<head>
    <title>TJTinder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FF765A">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="/manifest.json">

    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" integrity="sha256-xbQIJkhfOw0Dry1H9lawvXRi9XcqdE8jDBZx1Op/mz8=" crossorigin="anonymous">
    <link rel="stylesheet" href="/tjtinder.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="//cdn.firebase.com/js/client/2.3.1/firebase.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/messenger/1.5.0/css/messenger.min.css" integrity="sha256-s9TkqCOAYSX0OL0SFkn9uuNWdDLIXKMUV0ZICMxDBC8=" crossorigin="anonymous" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/messenger/1.5.0/css/messenger-theme-future.min.css" integrity="sha256-m1IZSnXUbZcGUBF1o2+RGqtlRd5COHrl/hSHHjvCL9E=" crossorigin="anonymous" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/messenger/1.5.0/js/messenger.min.js" integrity="sha256-BnQeGKS32Pt/mkLkk742fNXjfLN5/4OOd3L9PAf5d3s=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/messenger/1.5.0/js/messenger-theme-future.min.js" integrity="sha256-bPtXLSYZuomGwSgpsWFQVLtxEvZDKbVR+Oml4HOy090=" crossorigin="anonymous"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js" integrity="sha256-lVmbGVbzHBkNHCUK0y+z2AyJei/v7jSNYppXTcq2FtU=" crossorigin="anonymous"></script>
    <script src="/tjtinder.js"></script>
</head>

<body>

      <nav>
	    <div class="nav-wrapper deep-orange lighten-1">
	      <a href="#" class="brand-logo"><img class="left" src="/headerLogoWhite.png">TJTinder</a>
	      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	      <ul class="right hide-on-med-and-down">
	        <li><a href="/matches">Matches</a></li>
	        <li><a href="/faq">FAQ</a></li>
	        <li><a href="/terms">Terms and Conditions</a></li>
	        <li><a href="/logout">Log Out</a></li>
	      </ul>
	      <ul class="side-nav" id="mobile-demo">
	        <li><a href="/matches">Matches</a></li>
	        <li><a href="/faq">FAQ</a></li>
	        <li><a href="/terms">Terms and Conditions</a></li>
	        <li><a href="/logout">Log Out</a></li>
	      </ul>
	    </div>
	  </nav>




    <div class="main container center">
        <div class="loading">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-panel">
            <div class="profile-name center" style="font-size: 200%"></div>
            <img width="200" class="profile-picture" />
            <div class="row">
                <div class="col s6">
                    <button id="dislike" class="btn waves-effect waves-light deep-orange lighten-1"><i class="material-icons" style="line-height: normal;">&#10006;</i></button>
                </div>
                <div class="col s6">
                    <button id="like" class="btn waves-effect waves-light deep-orange lighten-1"><i class="material-icons" style="line-height: normal;">&#10004;</i></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
