nav {
    line-height: 3.5rem;
    height: 3.5rem;
}

.nav-wrapper {
    padding-left: 10px;
}

.brand-logo {
    font-size: 2rem;
}

.brand-logo img {
    height: 2rem;
    margin-top: 0.7rem;
}

#login-div {
    margin-top: 150px;
}
