nav {
    line-height: 3.5rem;
    height: 3.5rem;
}

.nav-wrapper {
    padding-left: 10px;
    padding-right: 10px;
}

.brand-logo {
    font-size: 2rem;
}

.brand-logo img {
    height: 2rem;
    margin-top: 0.6rem;
}

.side-nav {
    width: 220px;
}

nav .button-collapse {
    height: inherit !important;
    line-height: inherit !important;
}

nav .button-collapse i {
    height: inherit !important;
    line-height: inherit !important;
}

#login-div {
    margin-top: 120px;
}
