nav {
    line-height: 3.5rem;
    height: 3.5rem;
}

.nav-wrapper {
    padding-left: 10px;
}

nav .brand-logo {
    font-size: 2rem;
}

.main {
    margin-top: 60px;
}

#matches {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

#matches .collection-item {
    color: #039be5;
}
