nav {
    line-height: 3.5rem;
    height: 3.5rem;
}

.nav-wrapper {
    padding-left: 10px;
}

nav .brand-logo {
    font-size: 2rem;
}

.main {
    margin-top: 60px;
}

.main .card-panel {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 1px;
}

.main .card-panel .profile-name {
    font-size: 1.3rem;
}

.main .card-panel img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main .card-panel button {
    width: 100%;
}
