nav {
    line-height: 3.5rem;
    height: 3.5rem;
}

.nav-wrapper {
    padding-left: 10px;
    padding-right: 10px;
}

.brand-logo {
    font-size: 2rem;
}

.brand-logo img {
    height: 2rem;
    margin-top: 0.7rem;
}

.dropdown-button i {
    height: inherit !important;
    line-height: inherit !important;
}

#navbar-dropdown {
    width: 14rem !important;
}

#navbar-dropdown a {
    color: #039be5;
}

.main {
    margin-top: 60px;
}

.main .card-panel {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 1px;
    display: none;
}

.main .card-panel .profile-name {
    font-size: 1.3rem;
}

.main .card-panel img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main .card-panel button {
    width: 100%;
}
